@use "../../styles/variables" as *;

.nav {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 5px solid purple;
  padding-bottom: 10px;

  &__item {
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0;
    color: black;
  }
}

// .bottom-navigation {
//   box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);

//   &__item .MuiSvgIcon-root {
//     color: darkcyan;
//   }

//   .Mui-selected .MuiSvgIcon-root {
//     color: black;
//   }
//   .Mui-selected {
//     color: black;
//   }

//   .css-imwso6-MuiBottomNavigationAction-label {
//     font-family: $font-family-modern-content;
//   }
// }